%p#notice= notice
%h1 Departments
%br/
%table.table
  %thead
  %tbody
    - @departments.each do |department|
      %tr
        %td= link_to department.name, department
%br/
%b= link_to 'Return to Job Postings', job_postings_path
%br/
%br/
